:root {
    --vdark-main-color : #001317;
    --darker-main-color : #013538;
    --dark-main-color : #00575C;
    --main-color : #0A878E;
    --lighter-main-color :#23a7ae;
    --clair-main-color : #319ac3;
    --light-main-color : #6cb2e0;
    --vlight-main-color : rgb(193, 228, 232);
    --white : rgb(237, 242, 242);
    --vlight-grey :#d5ddde;
    --light-grey :#adbdbd;
    --grey : #667372;
    --dark-grey : #414e4f;
    --black : rgb(10, 20, 17);
}