:root {
    --white : rgb(237, 241, 242);
    --vdarker-main-color : #001317;
    --darker-main-color : #012326;
    --dark-main-color : #004349;
    --main-color : #0BA4AC;
    --light-main-color : #3EC0C7;
    --black : rgb(10, 13, 20);
    --grey : rgb(46, 52, 56);
}