{% load i18n %}{% autoescape off %}
{% blocktranslate %}Ce message vous a été envoyé car une demande de réinitialisation de mot de passe a été faite pour votre compte EduTrack. .{% endblocktranslate %}

{% translate "Pour choisir un nouveau mot de passe, veuillez accéder à la page suivante :" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Pour rappel, votre nom d'utilisateur est :' %} {{ user.get_username }}

{% translate "Merci pour votre confiance" %}

{% blocktranslate %}L'equipe Edutrack{% endblocktranslate %}
{% endautoescape %}
