
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'user/css/loginstyles.css' %}" />
{% endblock %}

{% block main-content %}
<div class="loginbox">
    <h1>Réinitialiser le mot de passe</h1>
    <form method="POST" action="{% url 'password_reset_confirm' uidb64=uid token=token %}">
        {% csrf_token %}
        <p style="margin: 0;">Nouveau mot de passe</p>
        <input type="password" name="new_password1" placeholder="Nouveau mot de passe">
        <p style="margin: 0;">Confirmez le nouveau mot de passe</p>
        <input type="password" name="new_password2" placeholder="Confirmez le nouveau mot de passe">
        <input type="submit" value="Réinitialiser le mot de passe"><br>
    </form>
</div>
{% endblock %}
