<!DOCTYPE html>
<html>
<head>
    <title>Ajouter une note</title>
</head>
<body>
    <h2>Choisir une matière :</h2>
    <form method="GET" action="{% url 'user:addgrade' %}">
        <label for="course">Matière :</label>
        <select name="course_id" id="course">
            <option value="">choisir une matière</option>
            {% for course in courses %}
                <option value="{{ course.course_id }}" {% if selected_course and course.course_id == selected_course.course_id %}selected{% endif %}>
                    {{ course.name }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Valider</button>
    </form>

    {% if users %}
        <h2>Choisir un étudiant</h2>
        <form method="POST" action="{% url 'user:addgrade' %}">
            {% csrf_token %}

            <input type="hidden" name="course_id" value="{{ selected_course.course_id }}" />
            <label for="student">Étudiant</label>
            <select name="student_id" id="student">
                <option value="">Choisir un étudiant</option>
                {% for user in users %}
                    <option value="{{ user.id }}">
                        {{ user.first_name }} {{ user.last_name }}
                    </option>
                {% endfor %}
            </select>
            <label for="score">Entrer la note :</label>
            <input type="number" step="0.01" name="student_score" id="score" required />
            <button type="submit">Valider</button>

        </form>
    {% endif %}
</body>
</html>
