<!DOCTYPE html>
{% load static %}
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{% block title %}Edutrack{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'user/css/basestyle.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
        <!-- <link rel="icon" type="image/ico" href="{% static '/.ico' %}">  à rajouter -->
        {% block styles %}
        {% endblock %}
    </head>

    <body>
        {% block jquery %}
            <!-- Script jquery -->
            <script src="https://code.jquery.com/jquery-3.7.1.min.js"
                    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
                    crossorigin="anonymous"></script>
        {% endblock %}
        <header>
            <section id="menu-top">
                <div id="logo">
                    <img src="{% static 'user/images/logo_resized.png' %}" alt="logo"/>
                </div>
                <div id="profil-utilisateur">
                    <button>
                        <!-- <i class="fas fa-user fa-3x"></i> -->
                        <img src="{% static 'user/icons/circle-user.svg' %}" alt="user"/>
                    </button>
                    <div id="dropdown-menu">
                        <a id="my_profile" href=""><img src="{% static 'user/icons/circle-user.svg' %}" alt="user"/>Mon profil</a>
                        <a href="{% url 'user:parametre' %}"><img src="{% static 'user/icons/gears.svg' %}">Paramètres</a>
                        <a href="{% url 'user:edt' %}"><img src="{% static 'user/icons/calendar-days.svg' %}">Mes cours</a>
                        {% block profile-content %}
                        {% endblock %}
                        <a href="{% url 'user:logout' %}"><img src="{% static 'user/icons/log-out.svg' %}">Déconnexion</a>
                    </div>
                </div>
            </section>
        </header>

        <section id="main-content">
            {% block main-content %} {% endblock %}
        </section>

        <footer>
            <p>Edutrack - 2024</p>
        </footer>


        <script type="text/javascript" src="{% static 'user/js/script.js' %}"></script>
        <script type="text/javascript" src="{% static 'user/js/script-param.js' %}"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>