{% extends "user/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'user/psswrdstyle.css' %}" />
<link rel="stylesheet" href="{% static 'user/css/loginstyles.css' %}" />
{% endblock %}

{% block main-content %}
<div class="loginbox">
    <h1>Changer de mot de passe</h1>
    <form>
        <p>Ancien mot de passe</p>
        <input type="password" name="pastpassword" placeholder="********" />
        <p>Nouveau mot de passe</p>
        <input type="password" name="newpassword" placeholder="********" />
    </form>
</div>
{% endblock %}