{% extends "user/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'user/css/createuserstyle.css' %}" />
{% endblock %}

{% block main-content %}
<div id="form-wrapper" class="loginbox">
    <h2>Création d'étudiants/professeurs</h2>

    <form method="post" enctype="multipart/form-data" action="{% url 'user:createuser' %}">
        {% csrf_token %}

        <!-- CSV File importation -->
        <h3>Importation de fichier CSV</h3>
        <label for="csvFile"></label>
        <input type="file" id="csvFile" name="csv_file" accept=".csv" />
        <button type="submit" id="csv-button">Import csv</button>

    </form>

    <form method="post" enctype="multipart/form-data" id="form-content">
        {% csrf_token %}

        <!-- First Name -->
        <p>Prénom</p>
        <label for="id_first_name"></label>
        <input type="text" id="id_first_name" name="first_name" placeholder="Prénom" {% if form.first_name.value %} value="{{ form.first_name.value }}" {% endif %} required />
        
        
        <!-- Last Name -->
        <p>Nom</p>
        <label for="id_last_name"></label>
        <input type="text" id="id_last_name" name="last_name" placeholder="Nom" {% if form.last_name.value %} value="{{ form.last_name.value }}" {% endif %} required />
        
        
        <!-- Role -->
        <p>Statut</p>
        <label for="id_role"></label>
        <select name="roles" id="id_role">
            <option value="" disabled selected hidden>-- Statut --</option>
            {% for role in roles %}
            <option value="{{ role.id }}">{{ role.name }}</option>
            {% endfor %}
        </select>
        

        <!-- Date of Birth -->
        <p>Date de naissance</p>
        <label for="id_date_of_birth"></label>
        <input type="date" id="id_date_of_birth" name="date_of_birth" value="{{ form.date_of_birth.value }}" required />
        
        
        <!-- Speciality -->
        <p>Filière</p>
        <label for="id_speciality"></label>
        <select name="speciality_id" id="id_speciality">
            <option value="" disabled selected hidden>-- Filière --</option>
            {% for choice in specialities %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
        </select>

        <!-- Photo -->
        <p>Importation de la photo</p>
        <label for="id_photo">Import photo</label>
        <input type="file" id="id_photo" name="photo" accept=".jpg, .jpeg, .png" />
        
        <!-- Email
        <div class="email">
            <label class="col-sm-2 col-form-label" for="id_email">Email</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="id_email" name="email" value="{{ form.email.value }}" required>
            </div>
        </div>
        -->

        <!-- Password -->
        <p>Mot de passe</p>
        <label for="id_password"></label>
        <input type="password" id="id_password" name="password" placeholder="***********" required />
        
        <!-- Year -->
        <p>Année</p>
        <label for="id_year"></label>
        <select name="year" id="id_year" >
            <option value="" disabled selected hidden>-- Sélection de l'année --</option>
            <option value="1">1ère année</option>
            <option value="2">2ème année</option>
            <option value="3">3ème année</option>
        </select>

        <!-- pop-up success
        <h5 id="successModalLabel">Success</h5>
        -->

        <!-- Submit Button -->
        <button type="submit" class="loginbox" id="save-button">Sauvegarder</button>
        <button type="reset" class="loginbox" id="reset-button">Reset</button>

    </form>
</div>

<div id="table-wrapper" class="loginbox">
    <h2>Liste des utilisateurs à ajouter</h2>
    <table id="table-users">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>ID étudiant</th>
                <th>Date de naissance</th>
                <th>Email</th>
                <th>Role</th>
                <th>Spécialité</th>
                <th>Année</th>
            </tr>
        </thead>
        <tbody id="tableau-creatuser">
            {% for user in users %}
            <tr>
                <td>
                    {% comment %} <img src="{{ user.photo.url }}" alt="Photo étudiant" width="50" /> {% endcomment %}
                </td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.student_id }}</td>
                <td>{{ user.date_of_birth }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles.name }}</td>
                <td>{{ user.speciality_id.name }}</td>
                <td>{{ user.year }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}