{% extends "user/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'user/css/loginstyles.css' %}" />
<link rel="stylesheet" href="{% static 'user/css/createuserstyle.css' %}" />
{% endblock %}


{% block main-content %}
<div class="loginbox">
    <h2>Se connecter</h2>
    <form>
        <p>E-Mail</p>
        <input type="text" name="email" placeholder="prenom.nom@uha.fr">
        <p>Mot de passe</p>
        <input type="password" name="password" placeholder="********">
        <input type="submit" name="" value="Login"><br>
        <a href="{% url 'user:password_reset' %}" class="type1">Mot de passe oublié ?</a>
    </form>
</div>

<!-- Error Modal
<div tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
                <h5>Error</h5>
                <button type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div>{{ message }}</div>
                    {% endif %}
                {% endfor %}
                <button type="button" data-dismiss="modal">Close</button>
</div>
-->


{% block js %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    $('#errorModal').modal('show');
                {% endif %}
            {% endfor %}
        {% endif %}
    });
</script>
{% endblock %}

{% endblock %}