{% extends "user/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'user/css/mainstyle.css' %}" />
{% endblock %}

{% block header-content %}
<div id="search-menu">
    <input type="text" placeholder="Rechercher..." />
    <button>Go</button>
</div>
{% endblock %}

{% block profile-content %}
<a href="{% url 'module:create_module' %}" class="btn btn-secondary">Créer une UE</a>
{% endblock %}

{% block main-content %}

<div id="left-menu">
    <button id="menu-filter-button"><i class="fas fa-filter fa-sm"></i> Filtres <i id="title-filter-icon" class="fas fa-caret-down"></i></button>
    
    <form method="post" enctype="multipart/form-data" id="form_year">
        <div id="menu-filter" class="open">
            {% csrf_token %}
            <div class="filter-components">
                <button class="title-filter">Année</button>
                <div class="menu-content" id="year-dropdown">
                    <div><label><input type="checkbox" name="year" value="1" /> Année 1</label></div>
                    <div><label><input type="checkbox" name="year" value="2" /> Année 2</label></div>
                    <div><label><input type="checkbox" name="year" value="3" /> Année 3</label></div>
                </div>
            </div>
            <div class="filter-components">
                <button class="title-filter">Courses</button>
                <div class="menu-content" id="course-dropdown">
                    {% for course in courses_taught %}
                    <div>
                        <label>
                            <input type="checkbox" name="course" value="{{ course.course_id }}" />{{ course.name }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="filter-components">
                <button class="title-filter">Filière</button>
                {% csrf_token %}
                <div class="menu-content" id="cursus-dropdown">
                    {% for speciality in specialities %}
                    <div><label><input type="checkbox" name="cursus" value="{{ speciality.id }}" />{{ speciality.name }}</label></div>
                    {% endfor %}
                </div>
            </div>
            <div class="filter-components">
                <button class="title-filter">Identification</button>
                {% csrf_token %}
                <div class="menu-content" id="identification-dropdown">
                    <div><label><input type="checkbox" name="identification" value="1" /> N° étudiant</label></div>
                    <div><label><input type="checkbox" name="identification" value="2" checked="true" /> Nom</label></div>
                </div>
            </div>
            <div id="button-container">
                <button id="reset-button">Reset</button>
                <button type="submit" id="apply-button">Apply</button>
            </div>
        </div>
    </form>
    
    
    
    
    
</div>

<div  id="tabmain" class="tableau-wrapper">
    {% load custom_filters %}
        <table id="noteabs">
            <thead>
                <tr>
                <th>N étudiant</th>
                <th>Pénom</th>
                <th>Nom</th>
                <th>Specialité</th>
                <th>Année</th>
                <th>Matière</th>
                <th>Note</th>
                <th>Absences</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students_details %}
                <tr>
                    <td>{{ student.student_id }}</td>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.specialty }}</td>
                    <td>{{ student.year }}</td>
                    <td>{{ student.course }}</td>
                    <td>{{ student.score }}</td>
                    <td>{{ student.absences_count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}
