{% extends "user/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'user/css/mainstyle.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{% static 'user/css/mainstyle.css' %}" />
{% endblock %}

{% block header-content %}
<div id="menu-recherche">
    <input type="text" placeholder="Rechercher..." />
    <button>Go</button>
</div>
{% endblock %}

{% block main-content %}
<div id="left-menu">
    <button id="menu-filter-button"><i class="fas fa-filter fa-sm"></i> Filtres <img id="menu-filter-icon" data-right-src="{% static 'user/icons/fleche-droite.svg' %}" data-down-src="{% static 'user/icons/fleche-bas.svg' %}" src="{% static 'user/icons/fleche-bas.svg' %}" alt="Icone de menu"></button> 
    <form method="post" enctype="multipart/form-data" id="form_year">
    <div id="menu-filter" class="open">
        <div class="filter-components">
            <button class="title-filter">Année  </button>
            <div class="menu-content" id="year-dropdown">
                <label><input type="checkbox" name="year" value="1" /> 1ère année</label>
                <label><input type="checkbox" name="year" value="2" /> 2e année</label>
                <label><input type="checkbox" name="year" value="3" /> 3e année</label>
            </div>
        </div>
        <div class="filter-components">
            <button class="title-filter">Matière  </button>
            <div class="menu-content" id="lesson-dropdown">
                <label><input type="checkbox" name="lesson" value="1" /> ANCS</label>
                <label><input type="checkbox" name="lesson" value="2" /> Java</label>
                <label><input type="checkbox" name="lesson" value="3" /> HTML & CSS</label>
            </div>
        </div>
        <div class="filter-components">
            <button class="title-filter">Filière</button>
                {% csrf_token %}
                <div class="menu-content" id="cursus-dropdown">
                    
                    {% for choice in specialities %}
                    <div><label><input type="checkbox" name="cursus" value="{{ choice.0 }}">{{ choice.1 }}</label></div>
                {% endfor %}
                </div>
        </div>
        <div class="filter-components">
            <button class="title-filter">Identification</button>
                {% csrf_token %}
                <div class="menu-content" id="identification-dropdown">
                    <div><label><input type="checkbox" name="identification" value="1"> N° étudiant</label></div>
                    <div><label><input type="checkbox" name="identification" value="2" checked="true">Nom</label></div>
                </div>
        </div>
        <div id="button-container">
            <button id="reset-button">Reset</button>
            <button id="apply-button">Apply</button>
        </div>
    </div>
    </form>
</div>
<div id="tabmain" class="tableau-wrapper">
    {% load custom_filters %}
        <table id="noteabs">
            <thead>
                <tr>
                    {% for filter in selected_filters %}
                        <th>
                            {% if filter == 'last_name' %}
                                Nom
                            {% elif filter == 'first_name' %}
                                Prénom
                            {% elif filter == 'student_id' %}
                                N°
                            {% elif filter == 'Speciality_id' %}
                                Spécialité
                            {% elif filter == 'lesson' %}
                                Leçon
                            {% elif filter == 'Year' %}
                                Année
                            {% else %}
                                {{ filter|capfirst }}
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% if users %}
                    <tr>{% for user in users %}
                        {% for filter in selected_filters %}
                            <td>{{ user|get_attribute:filter }}</td>
                        {% endfor %}
                    </tr>{% endfor %}
                {% else %}
                    <tr>
                        <td colspan="{{ selected_filters|length }}">Aucun résultat trouvé</td>
                    </tr>             
                    {% endif %}
            </tbody>
        </table>
</div>

{% endblock %}

