{% extends "user/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'user/css/mainstyle.css' %}" />
{% endblock %}

{% block header-content %}
<div id="search-menu">
    <input type="text" placeholder="Rechercher...">
    <button>Go</button>
</div>
{% endblock %}

{% block main-content %}
<section id="left-menu">
    <button id="menu-filter-button"><i class="fas fa-filter fa-sm"></i> Filtres <i id="title-filter-icon" class="fas fa-caret-down"></i></button>
    <form method="post" enctype="multipart/form-data" id="form_year">
    <div id="menu-filter" class="open">
        <div class="filter-components">
            <button class="title-filter">Année</button>
            
                {% csrf_token %}
                <div class="menu-content" id="year-dropdown">
                    <div><label><input type="checkbox" name="year" value="1"> 1ère année</label></div>
                    <div><label><input type="checkbox" name="year" value="2"> 2e année</label></div>
                    <div><label><input type="checkbox" name="year" value="3"> 3e année</label></div>
                </div>
            
        </div>
        <div class="filter-components">
            <button class="title-filter">Matière</button>
                {% csrf_token %}
                <div class="menu-content" id="lesson-dropdown">
                    {% for lesson in lessons %}
                    <div><label><input type="checkbox" name="lesson" value="{{ lesson.id }}">{{ lesson.name }}</label></div>
                    {% endfor %}
                </div>
            
        </div>
        <div class="filter-components">
            <button class="title-filter">Filière</button>
                {% csrf_token %}
                <div class="menu-content" id="cursus-dropdown">
                    {% for speciality in specialities %}
                    <div><label><input type="checkbox" name="cursus" value="{{ speciality.id }}">{{ speciality.name }}</label></div>
                    {% endfor %}
                </div>
        </div>
        <div class="filter-components">
            <button class="title-filter">Identification</button>
                {% csrf_token %}
                <div class="menu-content" id="identification-dropdown">
                    <div><label><input type="checkbox" name="identification" value="1"> N° étudiant</label></div>
                    <div><label><input type="checkbox" name="identification" value="2" checked="true"> Nom</label></div>
                </div>
        </div>
        <div id="button-container">
            <button id="reset-button">Reset</button>
            <button type="submit" id="apply-button">Apply</button>
        </div>
    </div>
    </form>
</section>
<div  class="tableau-wrapper">
    {% load custom_filters %}
    <section id="tabmain" class="tableau">
        <table id="noteabs">
            <thead>
                <tr>
                    {% for filter in selected_filters %}
                        <th>
                            {% if filter == 'last_name' %}
                                Nom
                            {% elif filter == 'first_name' %}
                                Prénom
                            {% elif filter == 'first_name' %}
                                Année
                            {% else %}
                                {{ filter|capfirst }}
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% if users %}
                    <tr>{% for user in users %}
                        {% for filter in selected_filters %}
                            <td>{{ user|get_attribute:filter }}</td>
                        {% endfor %}
                    </tr>{% endfor %}
                {% else %}
                    <tr>
                        <td colspan="{{ selected_filters|length }}">Aucun résultat trouvé</td>
                    </tr>
                    {% endif %}
            </tbody>
        </table>
    </section>
</div>
{% endblock %}
