{% extends "user/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'user/css/loginstyles.css' %}" />
{% endblock %}

{% block main-content %}
<div class="loginbox">
    <h1><img src="{% static 'user/icons/gears.svg' %}" alt="engrenage_parametre"/>  Paramètre </h1>
    <div id="parametre-affichage">
        <h2>Affichage</h2>
        <button id="mode-daltonien"><img src="{% static 'user/icons/eye.svg' %}" alt="icone malvoyant"> Mode daltonien</button>
        <button id="change-theme" data-sun-icon="{% static 'user/icons/sun.svg' %}" data-moon-icon="{% static 'user/icons/moon.svg' %}">
            <img src="{% static 'user/icons/moon.svg' %}" alt="Icone de thème">
            Mode sombre
        </button>
    </div>
    <div id="parametre-securite">
    <h2>Sécurité</h2>
        <button id = "mode-daltonien"><img src="{% static 'user/icons/lock.svg' %}" alt="Icone de thème">  Changer mot de passe</button>
    </div>
</div>
{% endblock %}
