{% extends "user/base.html" %}
{# coOom #}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'user/css/loginstyles.css' %}" />
{% endblock %}

{% block main-content %}
{% if validlink %}
<div class="loginbox">
    <h2>Réinitialiser le mot de passe</h2>
    <form method="POST" >
        {% csrf_token %}
        <p style="margin: 0;">Nouveau mot de passe</p>
        <input type="password" name="new_password1" placeholder="Nouveau mot de passe">
        <p style="margin: 0;">Confirmez le nouveau mot de passe</p>
        <input type="password" name="new_password2" placeholder="Confirmez le nouveau mot de passe">
        <input type="submit" value="Change my password">
    </form>
</div>
{% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>

{% endif %}
{% endblock %}
