/* basestyle.css */
html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(var(--vdark-main-color),var(--main-color));
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    display: contents;
    overflow: hidden;
}

header {
    background-color: var(--vdark-main-color);
    height: 4rem;
    color : var(--white);
    padding: 5px;
    opacity: 1;
    font-size: 11px;
    padding-left:  0.5rem;
}

#main-content {
    display: flex;
    /* Height of the window minus the height of the header minus the height of the footer:
    this prevents the page from being too large and being able to scroll in it */
    height: calc(100vh - 4rem - 3rem);
    box-sizing: border-box;
}

#profil-utilisateur button {
    margin: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

#menu-top {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:100%;
}

#logo {
    width:10%;
    height:100%;
}

#logo img {
    height: 100%;
    width: auto;
}

#dropdown-menu {
    display: none;
    position: absolute;
    right: 10px; /* Positionner le menu à droite de l'élément parent */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
    opacity: 0;
    background-color: var(--main-color); /* Couleur de fond sombre */
    font-family: Arial, sans-serif; /* Police simple et propre */
    padding: 10px;
}

#dropdown-menu.show {
    display: flex;
    flex-direction: column;
    opacity: 1;
    right:0;
}

img:not(#logo *){
    height: 2.5rem;
    width: auto;
    filter: invert(100%) sepia(20%) saturate(400%) hue-rotate(90deg) brightness(90%) contrast(100%);
}

#dropdown-menu * {
    color: var(--white);
    text-decoration: none;
    padding: 0.1rem;
    margin: 0.5rem 0;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: inline-block;
}

#dropdown-menu *:hover,#dropdown-menu *:hover *{
    background-color: var(--lighter-main-color); /* Couleur de fond plus claire lors du survol */
    cursor: pointer; /* Change le curseur en main-content lors du survol */
    color: var(--black);
    filter: none;
}

footer {
    position: absolute;
    bottom:0px;
    width:100%;
    color: var(--white);
    justify-content: center;
    text-align: center;
    height : 3rem;
}
