/* styles.css */
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('../images/login_img.jpg');
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
}

/*
.loginbox {
    background: var(--vdark-main-color);
    color: var(--white);
    box-sizing: border-box;
    padding: 30px 30px;
    border-radius: 20px;
    opacity: 0.92;
}*/

h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid var(--white);
    background: transparent;
    outline: none;
    height: 40px;
    color: var(--white);
    font-size: 16px;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: var(--main-color);
    color: var(--white);
    font-size: 18px;
    border-radius: 20px;

}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: var(--light-main-color);
    color: var(--black);
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: var(--white);
}