/* variables.css */
:root {
    --white : rgb(237, 241, 242);
    --vdark-main-color : rgb(2, 32, 38);
    --main-color : rgb(66, 150, 183);
    --light-main-color : rgb(135, 198, 224);
    --black : rgb(10, 13, 20);
    --grey : rgb(46, 52, 56);
}

html[data-theme="dark"] {
    --white : rgb(237, 241, 242);
    --vdark-main-color : rgb(2, 32, 38);
    --main-color : rgb(66, 150, 183);
    --light-main-color : rgb(135, 198, 224);
    --black : rgb(10, 13, 20);
    --grey : rgb(46, 52, 56);
}

html[data-theme="light"] {
    --white : rgb(237, 241, 242);
    --vdark-main-color : rgb(83, 154, 168);
    --main-color : rgb(172, 228, 250);
    --light-main-color : rgb(113, 212, 254);
    --black : rgb(144, 165, 215);
    --grey : rgb(75, 81, 85);
}