{% extends "user/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'user/mainstyle.css' %}" />
{% endblock %}

{% block main-content %}
<div style="text-align: center; margin-top: 20px;">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="button" onclick="document.getElementById('csvInput').click();">Import CSV</button>
        <input type="file" id="csvInput" name="csv_file" style="display:none;" onchange="this.form.submit();">
    </form>
</div>
<div style="width: 50%; margin: 0 auto; margin-top: 20px;">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}