{% extends "user/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'user/mainstyle.css' %}" />
<link rel="stylesheet" href="{% static 'user/css/createuserstyle.css' %}" />
{% endblock %}

{% block main-content %}
<div id="form-wrapper" class="loginbox">
    <h2>Création d'étudiants/professeurs</h2>
    <form method="post" enctype="multipart/form-data" onsubmit="return ecriretablForm(event)" id="form-content-create" name="myForm">        {% csrf_token %}
        
        <!-- First Name -->
        
            <label for="id_first_name">First Name</label>
            <div>
                <input type="text" id="id_first_name" name="first_name" placeholder="Prénom" {% if form.first_name.value %} value="{{ form.first_name.value }}" {% endif %} required />
            </div>
        
        
        <!-- Last Name -->
        
            <label for="id_last_name">Last Name</label>
            <div>
                <input type="text" id="id_last_name" name="last_name" placeholder="Nom" {% if form.last_name.value %} value="{{ form.last_name.value }}" {% endif %} required />
            </div>
        
        
        <!-- Role -->
        
            <label for="id_role">Role</label>
            <div>
                <select name="roles" id="id_role">
                    {% for role in roles %}
                    <option value="{{ role.id }}">{{ role.name }}</option>
                    {% endfor %}
                </select>
            </div>
        

        <!-- Date of Birth -->
        
            <label for="id_date_of_birth">Date of Birth</label>
            <div>
                <input type="date" id="id_date_of_birth" name="date_of_birth" value="{{ form.date_of_birth.value }}" required />
            </div>
        
        
        <!-- Speciality -->
        
            <label for="id_speciality">Speciality</label>
            <div>
                <select name="speciality_id" id="id_speciality">
                    {% for speciality in specialities %}
                    <option value="{{ speciality.id }}">{{ speciality.name }}</option>
                    {% endfor %}
                </select>
            </div>
        
        
        <!-- Photo -->
        <div>
            <label for="id_photo">Photo</label>
            <div>
                <input type="file" id="id_photo" name="photo" accept=".jpg, .jpeg, .png" />
            </div>
        </div>
        
        
        <!-- Password -->
        <div>
            <label for="id_password">Password</label>
            <div>
                <input type="password" id="id_password" name="password" placeholder="***********" required />
            </div>
        </div>
        
        <!-- Year -->
        <div>
            <label for="id_year">Year</label>
            <div>
                <select name="year" id="id_year" >
                    <option value="1">Year 1</option>
                    <option value="2">Year 2</option>
                    <option value="3">Year 3</option>
                </select>
            </div>
        </div>
        
        <!-- Submit Button -->
        <div>
            <div>
                <button type="submit" class="loginbox">Save</button>
            </div>
        </div>
    </form>

</div>
<div id="table-wrapper" class="loginbox">
    <h2>Users List</h2>
    <table class="table-users">
        <thead>
            <tr>
                <th>Photo</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Student ID</th>
                <th>Date of Birth</th>
                <th>Email</th>
                <th>Role</th>
                <th>Speciality</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody id="tableau-creatuser">
            
            <tr>
                <td>Photo</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Student ID</td>
                <td>Date of Birth</td>
                <td>Email</td>
                <td>Role</td>
                <td>Speciality</td>
                <td>Year</td>
            </tr>
            
        </tbody>
    </table>
</div>
{% endblock %}