{% extends "user/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'user/loginstyles.css' %}" />
{% endblock %}

{% block main-content %}
<div class="loginbox">
    <h1>Se connecter</h1>
    <form>
        <p>E-Mail</p>
        <input type="text" name="email" placeholder="tonemail@uha.fr">
        <p>Mot de passe</p>
        <input type="password" name="password" placeholder="********">
        <input type="submit" name="" value="Connecte-toi"><br>
        <a href="{% url 'user:password_reset' %}" class="type1">Mot de passe oublié ?</a>
    </form>
</div>
{% endblock %}
