{% extends "user/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'user/mainstyle.css' %}" />
{% endblock %}

{% block header-content %}
<div id="search-menu">
    <input type="text" placeholder="Rechercher...">
    <button>Go</button>
</div>
{% endblock %}

{% block main-content %}
<section id="left-menu">
    <button id="menu-filter-button"><i class="fas fa-filter fa-sm"></i> Filtres <i id="title-filter-icon" class="fas fa-caret-down"></i></button>
    <div id="menu-filter" class="open">
        <div class="filter-components">
            <button class="title-filter">Année</button>
            <form method="post" enctype="multipart/form-data" id="form_year">
                {% csrf_token %}
                <div class="menu-content" id="year-dropdown">
                    <div><label><input type="checkbox" name="year" value="1"> 1ère année</label></div>
                    <div><label><input type="checkbox" name="year" value="2"> 2e année</label></div>
                    <div><label><input type="checkbox" name="year" value="3"> 3e année</label></div>
                </div>
            </form>
        </div>
        <div class="filter-components">
            <button class="title-filter">Matière</button>
            <form method="post" enctype="multipart/form-data" id="form_lesson">
                {% csrf_token %}
                <div class="menu-content" id="lesson-dropdown">
                    {% for lesson in lessons %}
                    <div><label><input type="checkbox" name="lesson" value="{{ lesson.id }}">{{ lesson.name }}</label></div>
                    {% endfor %}
                </div>
            </form>
        </div>
        <div class="filter-components">
            <button class="title-filter">Filière</button>
            <form method="post" enctype="multipart/form-data" id="form_spe">
                {% csrf_token %}
                <div class="menu-content" id="cursus-dropdown">
                    {% for speciality in specialities %}
                    <div><label><input type="checkbox" name="cursus" value="{{ speciality.id }}">{{ speciality.name }}</label></div>
                    {% endfor %}
                </div>
            </form>
        </div>
        <div class="filter-components">
            <button class="title-filter">Identification</button>
            <form method="post" enctype="multipart/form-data" id="form_identification">
                {% csrf_token %}
                <div class="menu-content" id="identification-dropdown">
                    <div><label><input type="checkbox" name="identification" value="1"> N° étudiant</label></div>
                    <div><label><input type="checkbox" name="identification" value="2"> Nom</label></div>
                </div>
            </form>
        </div>
        <div id="button-container">
            <button id="reset-button">Reset</button>
            <button type="submit" form="form_year" form="form_lesson" form="form_spe" form="form_identification" id="apply-button">Apply</button>
        </div>
    </div>
</section>


<div id="tableau-wrapper">
    {% load custom_filters %}
    <section id="tableau">
        <table>
            <thead>
                <tr>
                    {% for filter in selected_filters %}
                        <th>{{ filter|capfirst }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        {% for filter in selected_filters %}
                            <td>{{ user|getattr:filter }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                {% if not users %}
                    <tr>
                        <td colspan="{{ selected_filters|length }}">Aucun résultat trouvé</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </section>
</div>
{% endblock %}
