{% extends "user/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'user/mainstyle.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}


{% block main-content %}
<section id="left-menu">
    <button id="menu-filter-button"><i class="fas fa-filter fa-sm"></i>    Filtres  <i id="title-filter-icon" class="fas fa-caret-right"></i></button>
    <div id="menu-filter">
        <div class="filter-components">
            <button class="title-filter" onclick="toggleDropdown('year-dropdown')">Année  <i id="year-filter-icon" class="fas fa-caret-right"></i></button>
            <div class="dropdown-content" id="year-dropdown">
                <label><input type="checkbox" name="year" value="1"> 1ère année</label>
                <label><input type="checkbox" name="year" value="2"> 2e année</label>
                <label><input type="checkbox" name="year" value="3"> 3e année</label>
            </div>
        </div>
        <div class="filter-components">
            <button class="title-filter" onclick="toggleDropdown('lesson-dropdown')">Matière  <i id="lesson-filter-icon" class="fas fa-caret-right"></i></button>
            <div class="dropdown-content" id="lesson-dropdown">
                <label><input type="checkbox" name="lesson" value="1"> ANCS</label>
                <label><input type="checkbox" name="lesson" value="2"> Java</label>
                <label><input type="checkbox" name="lesson" value="3"> HTML & CSS</label>
            </div>
        </div>
        <div class="filter-components">
            <button class="title-filter" onclick="toggleDropdown('cursus-dropdown')">Filière  <i id="cursus-filter-icon" class="fas fa-caret-right"></i></button>
            <div class="dropdown-content" id="cursus-dropdown">
                <label><input type="checkbox" name="cursus" value="1"> IR</label>
                <label><input type="checkbox" name="cursus" value="2"> Textile</label>
                <label><input type="checkbox" name="cursus" value="3"> GI</label>
                <label><input type="checkbox" name="cursus" value="4"> ASE</label>
                <label><input type="checkbox" name="cursus" value="5"> MECA</label>
            </div>
        </div>
        <div id="button-container">
            <button id="reset-button">Reset</button>
            <button id="applied-button">Apply</button>
        </div>
    </div>
</section>
<div id="tableau-wrapper">
<section id="tableau">
    <table>
        <thead>
            <tr>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Id</th>
                <th>Note</th>
                <th>Abs</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jean</td>
                <td>Dupont</td>
                <td>1</td>
                <td>15</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Marie</td>
                <td>Curie</td>
                <td>2</td>
                <td>18</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Albert</td>
                <td>Einstein</td>
                <td>3</td>
                <td>20</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Isaac</td>
                <td>Newton</td>
                <td>4</td>
                <td>17</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Nikola</td>
                <td>Tesla</td>
                <td>5</td>
                <td>19</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Albert</td>
                <td>Einstein</td>
                <td>3</td>
                <td>20</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Isaac</td>
                <td>Newton</td>
                <td>4</td>
                <td>17</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Nikola</td>
                <td>Tesla</td>
                <td>5</td>
                <td>19</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Albert</td>
                <td>Einstein</td>
                <td>3</td>
                <td>20</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Isaac</td>
                <td>Newton</td>
                <td>4</td>
                <td>17</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Nikola</td>
                <td>Tesla</td>
                <td>5</td>
                <td>19</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Albert</td>
                <td>Einstein</td>
                <td>3</td>
                <td>20</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Isaac</td>
                <td>Newton</td>
                <td>4</td>
                <td>17</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Nikola</td>
                <td>Tesla</td>
                <td>5</td>
                <td>19</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Isaac</td>
                <td>Newton</td>
                <td>4</td>
                <td>17</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Nikola</td>
                <td>Tesla</td>
                <td>5</td>
                <td>19</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Albert</td>
                <td>Einstein</td>
                <td>3</td>
                <td>20</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Isaac</td>
                <td>Newton</td>
                <td>4</td>
                <td>17</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Nikola</td>
                <td>Tesla</td>
                <td>5</td>
                <td>19</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Isaac</td>
                <td>Newton</td>
                <td>4</td>
                <td>17</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Nikola</td>
                <td>Tesla</td>
                <td>5</td>
                <td>19</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Albert</td>
                <td>Einstein</td>
                <td>3</td>
                <td>20</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Isaac</td>
                <td>Newton</td>
                <td>4</td>
                <td>17</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Nikola</td>
                <td>Tesla</td>
                <td>5</td>
                <td>19</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Isaac</td>
                <td>Newton</td>
                <td>4</td>
                <td>17</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Nikola</td>
                <td>Tesla</td>
                <td>5</td>
                <td>19</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Albert</td>
                <td>Einstein</td>
                <td>3</td>
                <td>20</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Isaac</td>
                <td>Newton</td>
                <td>4</td>
                <td>17</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Nikola</td>
                <td>Tesla</td>
                <td>5</td>
                <td>19</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Isaac</td>
                <td>Newton</td>
                <td>4</td>
                <td>17</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Nikola</td>
                <td>Tesla</td>
                <td>5</td>
                <td>19</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Albert</td>
                <td>Einstein</td>
                <td>3</td>
                <td>20</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Isaac</td>
                <td>Newton</td>
                <td>4</td>
                <td>17</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Nikola</td>
                <td>Tesla</td>
                <td>5</td>
                <td>19</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
</div>
</section>

{% endblock %}

