{% extends "user/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'user/loginstyles.css' %}" />
{% endblock %}

{% block main-content %}
<div class="loginbox">
    <h1>Mot de passe oublié ?</h1>
    <form method="POST" action="/reset-password">
        <p style="margin: 0;">E-mail</p>
        <input type="text" name="username" placeholder="prenom.nom@uha.fr">
        <input type="submit" name="send" value="OK"><br>
        <a href="{% url 'login' %}">En fait, je m'en souviens !</a><br>
    </form>
</div>
{% endblock %}
