{% extends "user/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'user/loginstyles.css' %}" />
{% endblock %}

{% block main-content %}
<div class="loginbox">
    <h1>Changer votre mot de passe</h1>
    <form>
        <p>Nouveau mot de passe</p>
        <input type="password" name="newpassword" placeholder="********">
        <p>Confirmer nouveau mot de passe</p>
        <input type="password" name="newpassword" placeholder="********">
    </form>
</div>
{% endblock %}