<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'user/variables.css' %}" />
    <title>Document Title</title>
</head>

<body>
    <header>
        <p>EduTrack</p>
    </header>
    <section>
        <div class="loginbox">
            <h1>Mot de passe oublié ?</h1>
            <form>
                <p style="margin: 0;">E-mail</p>
                <input type="text" name="username" placeholder="youremail@uha.fr">
                <input type="submit" name="send" value="OK"><br>
                <a href="index.html">Actually, I remember it !</a><br>
            </form>
        </div>
    </section>