<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
    <!-- Link to Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <a href="{% url 'createuser' %}" class="btn btn-primary">Create User</a>
<div class="container mt-5">

    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for message in messages %}
                    <div class="alert alert-success">{{ message }}</div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <h2>Users List</h2>

    <!-- Search Form -->
    <form method="get" action="{% url 'userslist' %}" class="mb-4">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" name="first_name" placeholder="First Name" value="{{ request.GET.first_name }}">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="last_name" placeholder="Last Name" value="{{ request.GET.last_name }}">
            </div>
            <div class="col">
                <select name="roles" id="id_role" class="form-control">
                    <option value="">Select Role</option>
                    {% for role in roles %}
                    <option value="{{ role.id }}" {% if role.id|stringformat:"s" == request.GET.roles %}selected{% endif %}>{{ role.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <select name="speciality_id" id="id_speciality" class="form-control">
                    <option value="">Select Speciality</option>
                    {% for speciality in specialities %}
                    <option value="{{ speciality.id }}" {% if speciality.id|stringformat:"s" == request.GET.speciality_id %}selected{% endif %}>{{ speciality.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <select name="year" id="id_year" class="form-control">
                    <option value="">Select Year</option>
                    <option value="1" {% if request.GET.year == "1" %}selected{% endif %}>Year 1</option>
                    <option value="2" {% if request.GET.year == "2" %}selected{% endif %}>Year 2</option>
                    <option value="3" {% if request.GET.year == "3" %}selected{% endif %}>Year 3</option>
                </select>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>

    <!-- Table of Users -->
    <table class="table table-striped" style="border: 0px;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Student ID</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Speciality</th>
                <th scope="col">Year</th>
                <th style="border-right: 0px; border-top: 0px;"></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>
                    {% if user.photo %}
                    <img src="{{ user.photo.url }}" alt="Photo" width="100px">
                    {% else %}
                    <span>No photo available</span>
                    {% endif %}
                </td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.student_id }}</td>
                <td>{{ user.date_of_birth }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles.name }}</td>
                <td>{{ user.speciality_id.name }}</td>
                <td>{{ user.year }}</td>
                <td>
                    <div class="d-inline">
                    <!-- Edit icon -->
                    <a href="{% url 'edituser' user.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                          </svg>
                    </a>
                    <!-- Delete icon -->
                    <a href="#" class="delete-user-btn" data-toggle="modal" data-target="#deleteConfirmationModal" data-user-id="{{ user.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                        </svg>
                    </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this user?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href="#" id="confirmDeleteBtn" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    jQuery(document).ready(function() {

        {% if messages %}
        jQuery('#successModal').modal('show');
        {% endif %}


        jQuery('.delete-user-btn').click(function() {
            var userId = jQuery(this).data('user-id');
            jQuery('#userId').text(userId);
            var deleteUrl = "{% url 'deleteuser' 0 %}".replace('0', userId);
            jQuery('#confirmDeleteBtn').attr('href', deleteUrl);
            jQuery('#deleteConfirmationModal').modal('show'); // Show the modal
        });
    });
</script>

</body>
</html>
